<%= render partial: "layouts/messages" %>

<div class="col-md-10 editor-attr">
  <input id="title" type="text" class="form-control editor-title" placeholder="標題" />
</div>
<div class="col-md-2 editor-attr status">
    <kbd id="is_public">已公開</kbd>
    <code id="is_not_public">未公開</code>
</div>
<div class="col-md-3 editor-attr">
  <input id="category" type="text" class="form-control" placeholder="分類">
</div>
<div class="col-md-3 editor-attr">
  <input id="tags" type="text" class="form-control" placeholder="標籤(逗點區隔)">
</div>
<div class="col-md-3 editor-attr">
  <input id="slug" type="text" class="form-control" placeholder="網址名稱">
</div>
<div class="col-md-3 editor-attr">
  <input id="display_date" type="text" class="form-control" placeholder="日期 (格式2015-01-01)">
</div>
<div class="col-md-3 editor-attr">
  <input id="video_embed" type="text" class="form-control" placeholder="影片嵌入碼">
</div>
<div class="col-md-3 editor-attr">
  <input id="icon" type="text" class="form-control" placeholder="首頁圖示">
</div>

<hr />

<!-- <div class="editor&#45;attr col&#45;md&#45;12"><h4>摘要</h4></div> -->
<!-- <pre id="post_abstract" class="editor&#45;attr col&#45;lg&#45;12"></pre> -->
<div class="editor-attr col-md-12"><h4>主文</h4></div>
<pre id="editor" class="editor-attr col-lg-12"></pre>

<div id="preview" class="column">
  <h1 id="preview-title"></h1>
  <p><%= render_author(@post.author) %> @ <%= Date.today.strftime("%Y-%m-%d") %></p>
  <hr>
  <!-- <div id="preview&#45;image"></div> -->
  <div id="preview-video"></div>
  <div id="preview-content"></div>
</div>

<div class="instruction">
  <ul>
    <li>Cmd + Enter 兩次送出儲存</li>
    <li>Cmd + K 預覽</li>
    <li>Cmd + J 兩次回到文章列表</li>
  </ul>
</div>
