@media all and (max-width:992px) {
  table.items {
    th {
      font-size: 14px;
    }
  }
  div.notes {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .buttons .btn {
    width: 100%;
    height: 50px;
    line-height: 35px;
    font-size: 20px;
  }

  .notes, .order {
    h4 {
      font-size: 18px;
      text-align: center;
    }
  }
  div.shipping-new, div.shipping-edit {
    &.bottom-extend {
      padding-bottom: 80px;
    }
    p {
      margin-bottom: 0px;
    }
    h4 {
      font-size: 20px;
      text-align: center;
    }
    .send-shipping {
      margin-top: 15px;
      width: 100%;
    }
  }

  .paypal-send {
    width: 100%;

  }
  .mobile-order-items {
    width: 100%;
    tr {
      height: 45px;
    }
    h4 {
      font-size: 24px;
      text-align: left;
    }
  }
  .send-shipping {
    font-size: 20px;
  }
  a.checkout {
    width: 100%;
  }
  div.warning {
    text-align: left;
    span, a {
      font-size: 16px;
    }
  }
}
