<% if @transfer %>
  <div class="transfer-in-order column col-sm-4">
    <h4>轉帳資訊</h4>
    <p>轉帳帳號末五碼： <%= @transfer.transaction_id %></p>
    <p>更新時間： <%= (@transfer.updated_at+28800).strftime("%Y-%m-%d %H:%M:%S") %></p>
    <p>狀態：<%= @transfer.confirm ? "已確認付款" : "確認中" %></p>
    <% if not @transfer.confirm %>
      <% link_to "取消", store_order_payment_transfer_path(@order, @transfer), method: :delete, class: "btn btn-danger transfer-cancel", style: "" %>
      <%= link_to "修改", edit_store_order_payment_transfer_path(@order, @transfer), class: "btn btn-warning action" %>
    <% end %>
  </div>
<% end %>
