<!-- 目前此頁面不使用 -->
<div class="container">
  <div class="column div-center">
    <h3>交易完成！</h3>
    <p>PayPal需要幾秒的時間完成交易，如果回到訂單畫面卻沒有完成付款，請耐心等候數秒並重新整理網頁。如果經過嘗試還是無法完成付款，請與<a href="info@motion-express.com">我們</a>聯繫。</p>
    <%= link_to "回到訂單", store_order_path(@order), class: "btn btn-primary", style: "width: 150px;" %>
  </div>
</div>
