<h1><%= @product.title %></h1>
<hr />
<div class="product-top">
  <%= render "side_desc" %>
</div>
<div class="col-lg-8 column margin">
  <% image_tag @product.default_image, class: "product-image" %>
  <% @product.images.each do |image| %>
    <%= image_tag image.image, class: "product-image" %>
  <% end %>
</div>
<div class="product-bottom">
  <%= render "side_desc" %>
</div>
