<%= render partial: "nav" %>
<hr />
<h4>感謝您登入特快車，目前站內功能尚未啟用，未來更多教學、更新等內容會再通知您！</h4>
<hr />
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Email</h4>
    <p class="list-group-item-text"><%= current_user[:email] %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">使用者名稱</h4>
    <p class="list-group-item-text"><%= current_user[:name] %></p>
  </li>
  <% if is_admin? %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Bing翻譯</h4>
      <p class="list-group-item-text">本月剩餘<span id="balance">--</span>字，本月平均用量為<span id="usage">--</span>(字/日)</p>
    </li>
  <% end %>
</ul>

