<%= render partial: "nav" %>
<!-- <hr /> -->
<!-- <h4>感謝您登入特快車，目前站內功能尚未啟用，未來更多教學、更新等內容會再通知您！</h4> -->
<hr />
<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Email</h4>
    <p class="list-group-item-text"><%= current_user[:email] %></p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">使用者名稱</h4>
    <p class="list-group-item-text"><%= current_user[:name] %></p>
  </li>
</ul>
