<div class="container column">
  <p style="text-align:center;">已將 <%= @mail %> 從訂閱名單中移除</p>
  <%= link_to "回到部落格", posts_path, class: "btn btn-success", style: "display: block;margin: 0 auto; width: 100px;" %>
</div>
