<div class="column year-column">
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="td-thumbnail">
            <%= image_tag post.thumbnail, class: "thumbnail" %>
          </td>
          <td class="td-left">
            <h4>
              <%= link_to post.title, post_path(post[:slug]) %>
              <% if post.video_embed && post.video_embed != "" %>
                <span class="suffix glyphicon glyphicon-film"></span>
              <% end %>
            </h4>
          </td>
          <td class="td-right">
            <span class="date-display"><%= post[:display_date].strftime("%Y-%m-%d") %></span> 
            <% if is_admin? %>
              <%= link_to "編輯", edit_user_post_path(current_user["name"], post[:slug]), style: "color: red;font-size: 12px;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @posts.length < 1 %>
    <p class="no-content">無符合內容</p>
  <% end %>
</div>
