<div class="col-lg-12 column author-column">
  <div class="col-lg-2">
    <%= image_tag("https://avatars3.githubusercontent.com/u/6851886?v=4&s=100", class: "avatar") %>
  </div>
  <div class="col-lg-10">
    <a href="https://twitter.com/adler_hsieh" target="_blank" class="link-icon"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/in/adler-hsieh-51837333" target="_blank" class="link-icon"><i class="fa fa-linkedin-square"></i></a>
    <a href="http://github.com/adlerhsieh" target="_blank" class="link-icon"><i class="fa fa-github-square"></i></a>
    <!-- <a href="http://stackoverflow.com/users/3402228/adler&#45;hsieh" target="_blank" class="link&#45;icon"><i class="fa fa&#45;stack&#45;overflow"></i></a> -->
    <p style="margin-top: 20px;">
      Adler Hsieh, currently a software developer. Have some experience in PHP but hate its syntax. Love Ruby, love its flexibility, laziness, and elegance. Work hard to be lazy.
    </p>
    <p>
      Contact through Twitter and Linkedin if needed.
    </p>
    </ul>
  </div>
</div>
