<div class="col-lg-12 column author-column">
  <div class="col-lg-2">
    <%= image_tag("https://avatars3.githubusercontent.com/u/6851886?v=4&s=100", class: "avatar") %>
  </div>
  <div class="col-lg-10">
    <a href="https://twitter.com/adler_hsieh" target="_blank" class="link-icon"><i class="fa fa-twitter-square"></i></a>
    <a href="https://tw.linkedin.com/pub/adler-hsieh/33/373/518" target="_blank" class="link-icon"><i class="fa fa-linkedin-square"></i></a>
    <a href="http://github.com/adlerhsieh" target="_blank" class="link-icon"><i class="fa fa-github-square"></i></a>
    <!-- <a href="http://stackoverflow.com/users/3402228/adler&#45;hsieh" target="_blank" class="link&#45;icon"><i class="fa fa&#45;stack&#45;overflow"></i></a> -->
    <p style="margin-top: 20px;">
      Adler Hsieh, currently a software developer in Rails. Have some experience in PHP but hate its syntax. Write a lot in JavaScript but try to avoid it as much as possible. Love Ruby, love its flexibility, laziness, and elegance. Work hard to be lazy. Good at documenting.
    </p>
    <p>
      Active contribution to open-source projects, and is in love with <a href="http://crystal-lang.org/" target="_blank">Crystal programming language</a> now.
    </p>
    </ul>
  </div>
</div>
