<div class="col-lg-12">
  <%= image_tag("http://en.gravatar.com/userimage/15971935/855d43c45e9ee4a2adb71d1f124a4147.jpg?size=200", class: "avatar") %>
</div>


<div class="col-lg-12 column author-column">
  <p>Adler，簡稱Ad，堅持專業教學、不專業笑話；散播歡樂、但不散播感冒病毒。目前為Ruby on Rails開發者。</p>
  <p>常有人問這張大頭照是什麼意思，其實是模擬被不明人士襲擊，正要被乙醚迷昏的瞬間。</p>
  <p>不接商業案子，影片製作需求可找<a href="https://www.facebook.com/Lifepowerco/info" target="_blank" rel="external">LifePower團隊</a>他們很專業，謝謝。</p>
  <ul class="">
    <li class=""><a href="http://github.com/nkj20932" target="_blank" rel="external">Github</a></li>
    <li class=""><a href="http://stackoverflow.com/users/3402228/adler-hsieh" target="_blank" rel="external">Stack Overflow</a></li>
    <li class=""><a href="https://www.youtube.com/channel/UCENdOOyjJz2H-oY0f7Tzmzg" target="_blank" rel="external">YouTube</a></li>
  </ul>
</div>
