/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@font-face {
  font-family: "Source Sans Pro";
  /* src: url("SourceSansPro-Regular.otf"); */
  /* src: url("SourceSansPro-Bold.otf"); */
  src: url("SourceSansPro-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Hiragino Sans GB", sans-serif;
  font-size: 17px;
  line-height: 26px;
  background-color: #EEEEEE;
  padding-top: 0px;
}

h2 {
  padding: 10px 0 15px 0;
}

h3 {
  padding: 10px 0 10px 0;
}

h4 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}

.message {
  display: none;
}

.site-logo {
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: 15px;
}

nav {
  background-color: #EEEEEE;
  margin-bottom: 30px;
}

nav a.site-title {
  margin-left: -20px !important;
  color: black;
  font-size: 17px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.navbar {
  border: 0px solid transparent;
}
.navbar ul li a{
  font-size: 14px;
}
.navbar-default {
  background: transparent;
  box-shadow: inset 0 0px 0 rgba(255,255,255,.15),0 0px 0px rgba(0,0,0,.075);
  -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.15),0 0px 0px rgba(0,0,0,.075);
}
.nav-pills li a {
  font-size: 15px;
}

@media all and (max-width: 768px) {
  .navbar-nav {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #D8D8D8;
  }
}

footer {
    margin: 50px 0;
}

.align-right {
  text-align: right;
}
