pre {
  border: 0px solid white;
  background-color: black;
  color: white;
  overflow-y: hidden;
  font-size: 14px;

  code.cmd {
    .line-numbers { display: none; }
    .prefix { opacity: 0.7; }
  }

  code.ruby {
    .class, 
    .constant { 
      color: rgb(54,255,254); 
    }
    .comment, .comment .string, .comment .keyword {
      color: gray;
    }
    .key, 
    .integer, 
    .symbol { 
      color: #B277E0; 
    }
    .keyword {
      color: #E2005C; 
    }
    .function { 
      color: #8AE806; 
    }
    .string, .string .key, .string .integer, .string .comment, .string .constant, .string .keyword {
        color: #EAED8A; 
    }
  }

  code.javascript {
    .string, .string .comment, .string .constant {
        color: #EAED8A; 
    }
    .integer { 
      color: #B277E0; 
    }
  }

  code.html {
    .entity {

    }
    .ruby {
      color: #E2005C;
    }
  }
}

