// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 15px;
}

pre {
  border: 0px solid white;
  background-color: black;
  color: white;
  overflow-y: hidden;

  code.cmd {
    .line-numbers {
      display: none;
    }
  }
}

.line-numbers {
  opacity: 0.5;
}

h3.year-title {
  margin-top: 5px;
  margin-bottom: 25px;
}

div.post {
  img {
    display: block;
    margin: 0 auto;
  }
}

.highlight-block {
  background-color: rgb(249,255,197);
  border-radius: 10px;
  padding: 20px 20px;
  border: 1px solid silver;
  margin-top: 15px;
  margin-bottom: 15px;
}

blockquote {
  font-size: 15.5px;
  background-color: #FBFFD6;
}
