// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-in {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.nav-pills {
  margin-top: 20px;
}

.categories {
  width: 100%;
  table, tbody {
    width: 100%;
    margin-bottom: 0px;
  }
  // .id {
  //   width: 10%;
  // }
  // .content {
  //   width: 40%;
  // }
  // .slug {
  //   width: 40%;
  // }
  // .slug {
  //   width: 40%;
  // }
  .delete {
    // width: 10%;
    // text-align: right;
    font-size: 14px;
    color: red;
  }
  button {
    width: 150px;
    float: right;
  }
}
