<%= render_blog_title(@category[:name]) %>
<div class="col-lg-9">
  <div class="posts">
    <%= render partial: "posts/list" %>
  </div>
</div>
<div class="col-md-3">
  <%= render partial: "posts/widgets" %>
</div>

