<div class="column service" style="margin: 0 auto; display: block; max-width: 1000px">
  <h2 class="center">服務說明</h2>
  <p>歡迎使用特快車的商店服務，為保障服務方以及消費者權益，在進行消費之前請詳細閱讀以下內容。</p>

  <h3>會員註冊</h3>
  <p>本站登入皆使用Github帳號登入，必須註冊及登入才能消費，不接受未登入的消費。</p>
  <p></p>

  <h3>付款</h3>
  <p class="item">1. 本站目前提供三種付款方式：</p>
  <ul>
    <li>PayPal帳戶付款</li>
    <li>PayPal刷卡付款</li>
    <li>轉帳付款</li>
  </ul>
  <p class="item">2. 前兩種方式皆經由PayPal付款，可直接依循網站付款機制，至PayPal付款完成即可。</p>
  <p class="item">3. 轉帳付款則需在下單之後依據金額進行銀行轉帳，轉帳資訊如下：</p>
  <ul>
    <li>銀行代碼：808 (玉山銀行)</li>
    <li>帳號：0026-979-040-541</li>
  </ul>
  <p>轉帳完成後，請至付款頁面填入轉帳代碼末五碼，本站會在30分鐘至48小時內確認是否匯入正確金額。</p>

  <h3>運送</h3>
  <p class="item">1. 確認付款完成後，會在1~2天內出貨，本站皆採用郵局限時掛號方式寄送，請確認收件地址有人可以收件。</p>
  <p class="item">2. 請正確填寫寄送姓名、地址、電話，若因資訊錯誤導致無法送達，本站有權取消該筆交易並進行退款。</p>
  <p class="item">3. 目前寄送區域僅限台澎金馬地區。</p>

  <h3>退貨&退款</h3>
  <p class="item">1. 本站所售出的實體商品，適用《消保法》第19條第1項規定，於到貨後7天內若對商品有任何疑問，可免費辦理退貨。但退貨商品僅接受尚未使用過的商品，例如貼紙已經黏貼到其他物品上再撕下，造成外觀損毀或失去粘性，便視同已經使用過，不接受此類商品的退貨。</p>
  <p class="item">2. 以上退貨條款僅適用於實體商品，不適用於電子商品，包含教學影片及可下載的電子內容。</p>
  <p class="item">3. 本站將在收到退貨商品後將連同商品總價及運費進行退款，若使用PayPal帳號或刷卡付款，將會以PayPal退款。</p>
  <p class="item">4. 若使用轉帳付款，退回商品時，請一併附上銀行之轉帳帳號，並確認帳號正確，於轉帳退款後便視同退款完成，事後不接受更改轉帳帳號以及重新退款。</p>

  <hr/>

  <h2 class="center">服務條款</h2>

  <h3>隱私權</h3>
  <p>本站並不會隨意散播經由註冊、消費而留下的個人資訊，包括使用者的email、姓名、電話、地址等等。但在下列的情況下，本站將會提供使用者的上述個人資訊給相關政府機關或主張其權利受侵害並提出適當證明之第三人：</p>
  <ul>
    <li>依法令規定、或依司法機關或其他相關政府機關的命令。</li>
    <li>使用者涉及違反法令、侵害第三人權益。</li>
    <li>為保護其他使用者或其他第三人的合法權益</li>
  </ul>

  <h3>商品使用</h3>
  <p>本站所售出的商品，不應使用於違反中華民國法律、危害第三人的任何用途。任何上述用途中使用到的商品，都屬於使用者個人責任，非本站的授權。</p>

  <h3>終止服務</h3>
  <p>1. 本站保留停止提供使用者服務、販售商品之權利，除對於付費商品依照情況退還已收取之費用外，本站不因此而對使用者負賠償或補償之責任。</p>
  <p>2. 如使用者違反本使用說明的內容或約定，本站保留隨時暫時停止提供服務、或終止提供服務之權利，且不因此而對會員負任何賠償或補償之責任。</p>

  <h3>使用說明修改</h3>
  <p>本站保留隨時修改本使用說明之權利，修改後的內容將直接更新於本頁，不另外個別通知使用者。</p>


</div>
