<% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissible"><%= alert %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible"><%= notice %></div>
<% end %>

