<div class="container">
  <hr />
  <span class="copyright">© <%= Date.today.year %> Motion Express All Rights Reserved </span>
  <%= image_tag "https://i.imgur.com/9T5jc3Hs.png", class: "footer-logo desktop-only" %>
</div>
