<div class="container">
  <hr />
  <!-- <a href="<%= terms_of_service_path %>" class="footnote">服務說明及使用規範</a> -->
  <span class="copyright">© <%= Date.today.year %> Motion Express All Rights Reserved </span>
  <%= image_tag "http://i.imgur.com/9T5jc3H.png", class: "footer-logo desktop-only" %>
</div>
