<div class="pending message alert alert-warning" id="pending">處理中...</div>
<div class="confirm message alert alert-info" id="confirm">再按一次Cmd + Enter送出</div>
<div class="leave message alert alert-warning" id="leave">再按一次Cmd + j 回到上一頁</div>
<div class="error message alert alert-danger" id="error">錯誤，請確認</div>
<div class="blank message alert alert-danger" id="blank">有欄位未填</div>
<div class="success message alert alert-success" id="success">儲存成功</div>
