<title>特快車 | Ruby、Rails、各式技術分享</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="title" content="特快車：Ruby、Rails、網路、開發技術分享">
<meta name="keywords" content="ruby,rails,rspec,hexo,blog,tutorial,教學,技術分享">
<meta name="description" content="以Ruby on Rails為中心的各式網路開發技術分享，歡迎大家多指教">
<meta property="og:type" content="website">
<meta property="og:title" content="特快車">
<meta property="og:url" content="http://blog.motion-express.com/index.html">
<meta property="og:site_name" content="特快車">
<meta property="og:description" content="以Ruby on Rails為中心的各式網路開發技術分享，歡迎大家多指教">

<link rel="icon" href="/favicon.png" type="image/png">
